.custom-navbar {
    background: rgba(44, 62, 80, 0.85) !important;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    backdrop-filter: blur(8px);
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background 0.3s;
}

.hero-section {
    padding-top: 90px; /* Để không bị che bởi navbar cố định */
} 