## Visual Studio temporary files.vs/*.suo*.user*.userosscache*.sln.docstates## Build results[Dd]ebug/[Dd]ebugPublic/[Rr]elease/[Rr]eleases/x64/x86/[Ww][Ii][Nn]32/[Aa][Rr][Mm]/[Aa][Rr][Mm]64/bld/[Bb]in/[Oo]bj/[Ll]og/[Ll]ogs/## NuGet Packages*.nupkgpackages/*.nuget.props*.nuget.targets## Visual Studio cache files*.[Cc]ache!*.[Cc]ache/## Others*.tmp*.temp*.log